body {
    background-color: #121212;
    color: #0d830d;
    font-family: sans-serif;
}
header {
    color: #0d830d;
    border-bottom: 2px solid #0d8300;
    padding: 10 px;
}
nav a {
    color: #0ff;
    text-decoration: none;
    font-weight: bold;
}
main {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}
footer {
    text-align: center;
    font-size: 12px;
    color: gray;
}